<div align="center" class="container">
  <div class="row">
    <img class="jumbotron" src="https://upload.wikimedia.org/wikipedia/commons/a/a6/A_panoramic_view_of_the_Pangong_Tso_lake,_in_Ladakh.jpg" width="1200">
  </div>
  <div class="row" style="padding: 20px 0;">
    <div class="col-md-4 pull-left">grooveIsAll:</div>
    <div class="col-md-4 pull-left">Man of Greatest Strength!</div>
    <div class="col-md-4 pull-left">
      <%= link_to 'Home', root_path %>
    </div>
  </div>
</div>