<div align="center" class="container">
  <div class="row">
    <img class="jumbotron" src="https://static.pexels.com/photos/164226/pexels-photo-164226.jpeg" width="1200">
  </div>
  <div style="padding: 20px 0;" class="row">
    <div class="col-md-4">grooveIsAll:</div>
    <div class="col-md-4">Man of Greatest Strength!</div>
    <div class="col-md-4">
      <%= link_to 'About', about_path %>
    </div>
  </div>
</div>