<!DOCTYPE html>
<html>
<head>
  <title>grooveIsAll</title>
</head>
<body align="center" width="1200">
  <div align="center">
    <img src="http://kevinandamanda.com/whatsnew/wp-content/uploads/2011/01/san-diego-skyline-panoramic-view.jpg" width="1200" style="text-align: center;">
  </div>
  <div width="1200" align="center" style="max-width: 1200px;">
    <div align="left" style="width: ;">
      <p>grooveIsAll:</p>
      <p>Man of Greatest Strength!</p>
      <p><%= link_to 'About', about_path %></p>
    </div>
  </div>
</body>
</html>